<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">  
    <context:mbean-export registration="failOnExisting" />  
    <bean name="myAnnoObject"  
        class="demo.learn.jmx.spring.annotation.MyJavaAnnotationObject">  
        <property name="id" value="201122121200" />  
        <property name="name" value="shirdrn" />  
    </bean>
    
    <bean id="server" class="org.springframework.jmx.support.ConnectorServerFactoryBean" depends-on="registry">  
        <property name="objectName">  
            <value>connector:name=rmi</value>  
        </property>  
        <property name="serviceUrl">  
            <value>service:jmx:rmi://localhost/jndi/rmi://localhost:1099/jmxrmi</value>  
        </property>  
    </bean>  
    <bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">  
        <property name="port">  
            <value>1099</value>  
        </property>  
    </bean>  
</beans> 